{
  "xfab": {
    "node": [
      {
        "type": "xh035",
        "files": [
          {
            "layer": "3",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_D_CELLS_qrouter.lef",
            "verilog-models": "/ef/tech/ef-xfab-xh035/EFXH035A/libs.ref/verilog/D_CELLS/D_CELLS.v",
            "lib": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/liberty-yosys-abc/D_CELLS/PVT_3_30V_range/D_CELLS_MOS_fast_3_60V_25C_abc.lib"
          },
          {
            "layer": "2",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_D_CELLS_qrouter.lef",
            "verilog-models": "/ef/tech/ef-xfab-xh035/EFXH035A/libs.ref/verilog/D_CELLS/D_CELLS.v",
            "lib": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/liberty-yosys-abc/D_CELLS/PVT_3_30V_range/D_CELLS_MOS_fast_3_60V_25C_abc.lib"
          },
          {
            "layer": "4",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_D_CELLS_qrouter.lef",
            "verilog-models": "/ef/tech/ef-xfab-xh035/EFXH035A/libs.ref/verilog/D_CELLS/D_CELLS.v",
            "lib": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/liberty-yosys-abc/D_CELLS/PVT_3_30V_range/D_CELLS_MOS_fast_3_60V_25C_abc.lib"
          }
        ]
      },
      {
        "type": "xh180",
        "files": [
          {
            "layer": "3",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_D_CELLS_qrouter.lef",
            "verilog-models": "/ef/tech/ef-xfab-xh035/EFXH035A/libs.ref/verilog/D_CELLS/D_CELLS.v",
            "lib": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/liberty-yosys-abc/D_CELLS/PVT_3_30V_range/D_CELLS_MOS_fast_3_60V_25C_abc.lib"
          },
          {
            "layer": "2",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx0x_METAL2_D_CELLS_mprobe.lef",
            "verilog-models": "/ef/tech/ef-xfab-xh035/EFXH035A/libs.ref/verilog/D_CELLS/D_CELLS.v",
            "lib": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/liberty-yosys-abc/D_CELLS/PVT_3_30V_range/D_CELLS_MOS_fast_3_60V_25C_abc.lib"
          }
        ]
      }
    ]
  },
  "lfoundy": {
    "node": [
      {
        "type": "xhl05",
        "files": [
          {
            "layer": "1",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx1x_METAL3_D_CELLS_mprobe.lef"
          },
          {
            "layer": "2",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx0x_METAL2_D_CELLS_mprobe.lef"
          },
          {
            "layer": "3",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx2x_METAL4_D_CELLS_mprobe.lef"
          }
        ]
      },
      {
        "type": "xhl80",
        "files": [
          {
            "layer": "2",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx1x_METAL3_D_CELLS_mprobe.lef"
          },
          {
            "layer": "3",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx0x_METAL2_D_CELLS_mprobe.lef"
          }
        ]
      }
    ]
  },
  "tsmc": {},
  "global foundry": {},
  "umc": {},
  "smic": {},
  "on semi": {},
  "nangate": {
    "node": [
      {
        "type": "45nm",
        "files": [
          {
            "layer": "6",
            "tech": "/home/ubuntu/proton/TESTS/library/NangateOpenCellLibrary_PDKv1_2_v2008_10.lef",
            "std-cells": "/home/ubuntu/proton/TESTS/library/NangateOpenCellLibrary_PDKv1_2_v2008_10.lef"
          },
          {
            "layer": "2",
            "tech": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/techLEF/v6_0_1/xh035_xx2x_METAL4.lef",
            "std-cells": "/home/ubuntu/ef-xfab-xh035/EFXH035A/libs.ref/lef/D_CELLS/xh035_xx0x_METAL2_D_CELLS_mprobe.lef"
          }
    ]
              }
          ]
             }
}
